@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  scroll-behavior: smooth;
  background-color: #0f172a;
  color: white;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
